
<h1 id="spell-title">{{title}}</h1>

{{enchant-navigation}}

<div id="spell-pages">
{{yield}}
</div>

{{! navigation buttons }}
{{enchant-previous submit=(action 'goToPage' previousPage) page=currentPage}}
{{enchant-next submit=(action 'goToPage' nextPage) page=currentPage}}
