
<h1 id="spell-title">{{title}}</h1>

{{enchant-navigation}}

{{#unless hasBlock}}
  Current Page: {{currentPage}}
{{else}}
  {{yield}}
{{/unless}}

<div id="spell-pages">
  {{#each pages as |page index|}}
    {{component page pages=pages pageIndex=index currentPage=currentPage}}
  {{/each}}
</div>

{{! navigation buttons }}
{{#unless isFirstPage}}
  {{enchant-previous submit=(action 'previousPage') page=currentPage}}
{{/unless}}

{{#unless isLastPage}}
  {{enchant-next submit=(action 'nextPage') page=currentPage}}
{{else}}
  <button type="submit">Submit</button>
{{/unless}}
